<?xml version="1.0" encoding="UTF-8"?>
<bea-product-information>
  <host home="@BEA_HOME@" name="@HOSTNAME@">
    <product format="1.0" name="WebLogic Platform">
      <release level="10.3"
        ServicePackLevel="6" PatchLevel="0"
        Status="installed" BeaProgramGroup="BEA WebLogic Platform 10.3" StartMenu=""
        InstallTime="@INSTALL_TIME@"
        InstallDir="@WL_HOME@"
        JavaHome="@JAVA_HOME@" JavaVersion="1.6.0" JavaVendor="@JAVA_VENDOR@">
        <component name="WebLogic Server" version="10.3.6.0">
          <component name="Server"/>
          <component name="Server Examples"/>
        </component>
     </release>
    </product>
    <java-installation Name="jrockit_160_02" JavaHome="@BEA_JAVA_HOME@" JavaVersion="1.6.0" JavaVendor="BEA">
        <dependent-product Name="WebLogic Platform" Version="10.3.6.0"/>
    </java-installation>

    <java-installation Name="jdk160_02" JavaHome="@SUN_JAVA_HOME@" JavaVersion="1.6.0" JavaVendor="Sun">
        <dependent-product Name="WebLogic Platform" Version="10.3.6.0"/>
    </java-installation>

 </host>
</bea-product-information>
